:root {
  --background: #0d1b2a;
  --background-variant: #1b263b;
  --surface: #415a77;
  --surface-variant: #778da9;
  --on-background: #e0e1dd;
  --on-background-variant: #c0c3c5;
  --on-surface: #ffffff;
  --on-surface-variant: #dce2f0;

  --primary: #0077b6;
  --primary-variant: #005f91;
  --primary-dark: #00416a;
  --on-primary: #ffffff;

  --secondary: #90e0ef;
  --secondary-variant: #72c7d6;
  --on-secondary: #1b263b;

  --error: #ef233c;
  --on-error: #ffffff;
}
