#top_nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#top_nav_bar_title {
  padding-left: 10vw;
  flex-grow: 2;
}

#top_nav_bar_links {
  flex-grow: 3;
}

#top_nav_bar_links li {
  display: inline;
  padding: 10px 40px;
}

#footer {
  display: flex;
  flex-direction: column;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

#footer_copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer_quick_links {
  margin-left: 10vw;
  flex: 1;
}

#footer_quick_links ul li {
  display: block;
  margin: 10px 0;
}

#footer_connect {
  flex: 2;
}

#footer_connect ul li {
  display: inline;
  margin-right: 10px;
}

#footer_contact {
  flex: 1;
}


