@import "_variables.css";

#top_nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--surface);
  color: var(--on-surface);
}

#top_nav_bar_title {
  padding-left: 10vw;
  flex-grow: 2;
}

#top_nav_bar_links {
  flex-grow: 3;
}

#top_nav_bar_links li {
  display: inline;
  padding: 10px 40px;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 3;
}

#about_text li {
  margin: 20px;
}

#featured_software {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#featured_software_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#featured_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#featured_blog_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: column;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

#footer_copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer_quick_links {
  margin-left: 10vw;
  flex: 1;
}

#footer_quick_links ul li {
  display: block;
  margin: 10px 0;
}

#footer_connect {
  flex: 2;
}

#footer_connect ul li {
  display: inline;
}

#footer_contact {
  flex: 1;
}


