.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tag-round {
  border-radius: 50%;
}

.tag-md {
  width: 80px;
  height: 80px;
}

.tag-md i {
  font-size: 40px;
}
