---
title: Home
layout: default
---
{% include blog_nav.html %}
<div id="blog">
  <div id="blog_intro">
    <div id="blog_intro_quote">
      <p>God made the integers, all the rest is the work of man</p>
      <a href="https://en.wikipedia.org/wiki/Leopold_Kronecker">Kronecker (1886)</a>
    </div>
  </div>
  <div id='blog_posts'> 
    {% for post in site.posts %}
    <div class='blog_posts_row'>
      <p class='post_title'>
        <a class="post_title_link" href="{{ post.url }}">
          <span>{{ post.title }}</span>
        </a>
        <a class="post_title_rank" href="/about.html#about-the-blog">
          <span class="difficulty_ranking difficulty_{{ post.difficulty }}">{{ post.difficulty }}</span>
        </a>
      </p>
      <p class='post_date'>
        {{ post.date | date_to_long_string }}
      </p>
    </div>
    <p class='post_subtitle'>
      {{ post.subtitle }}
    </p>
    <span class='hidden'>{{ forloop.index }}</span>
    {% endfor %}
  </div>
</div>
