
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 3;
}

#about_text li {
  margin: 20px;
}

#featured_software {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#featured_software_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#featured_posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#featured_blog_cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
