main {
  padding: 0;
  margin: 0;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0;
}

#about_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 3;
}

#about_text li {
  margin: 20px;
}
