.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 20px;
  border: none;
  border-radius: 999999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Material-like shadow */
  padding: 0 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.dropdown-content a {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

