:root {
  --content-margin: 0 0 10px;
}

.software_card_content {
  padding: 10px;
}

.software_card_content h5 {
  padding: 0;
  margin: var(--content-margin);
}

.software_card_content p {
  padding: 0;
  margin: var(--content-margin);
}

.software_card_content ul {
  list-style: none;
  padding: 0;
  margin: var(--content-margin);
}

.software_card_content ul li {
  display: inline;
}
