#home {
  max-width: 700px;
  margin: 119px auto;
}

#home_list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 20px 0;
}

#home_list_link {
  font-family: -apple-system, helvetica, arial, sans-serif;
  margin-right: 25px;
  padding-bottom: 5px;
}

#home_list_contact {
  font-family: courier;
  margin: 0;
  padding-top: 5px;
}


