#post_intro {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#post_intro h4 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}

#post_intro .bylines .byline {
  margin-right: 20px;
  float: left;
}

#post_intro .bylines .byline h3,
#post_intro .bylines .byline p {
  margin: 0;
  font-family: -apple-system, Helvetica, arial, sans-serif;
}

#post_intro .bylines .byline h3 {
  font-size: 9px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

#post_intro .bylines .byline p {
  font-size: 10px;
  line-height: 1.6em;
}

.article {
  font-size: 15px;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}
.article h2 {
  font-size: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  padding-top: 1em;
}
.article .figure {
  border-top: 1px solid hsla(0, 0%, 0%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  padding: 20px 0;
}
.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 13px;
  line-heigh: 1.2em;
}
.article .figure .caption-label {
  font-weight: bold;
}
.article .footnote {
  line-height: 0;
}
.article div.highlight {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.3em;
}
.article ul {
  padding: 0 15px;
}
.article hr {
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
  margin: 33px auto;
  width: 70px;
}
