:root {
  --margin-bottom: 50px;
  --padding-post-interior: 20px;
  --container-radius: 5px;
}

main {
  padding: 50px 100px;
}

/* Row of icon bubbles */
#icon_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--margin-bottom);
}

.icon_category {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

/* Dropdown categories row */
#dropdown_categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: var(--margin-bottom);
}

.dropdown_category_container {
  padding: 1rem;
  box-sizing: border-box; /* include padding + margin + border in width */

  /* Fit the text flush bottom and title flush top */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown_category_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Featured post */
#featured_blog_post {
  margin-bottom: var(--margin-bottom);
}

#featured_blog_post_content {
  padding: var(--padding-post-interior);
}

/* List of blog posts and related */
#blog_posts_list_and_related {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

#blog_posts_list {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

#blog_posts_related {
  flex: 1;
}

#blog_posts_related_list {
  padding: var(--padding-post-interior);
}

.blog_posts_list_item {
  padding: var(--padding-post-interior);
}

/* Related */
.related_post_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: var(--padding-post-interior);
}

.related_post_item img {
  flex: 1;
}

.related_post_item div {
  flex: 3;
}
